body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:400px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u63 {
  position:absolute;
  left:100px;
  top:100px;
  width:700px;
  height:400px;
}
#u64 {
  position:absolute;
  left:2px;
  top:192px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:100px;
  top:100px;
  width:134px;
  height:29px;
  overflow:hidden;
}
#u65_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66 {
  position:absolute;
  left:110px;
  top:104px;
  width:112px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u68 {
  position:absolute;
  left:110px;
  top:139px;
  width:337px;
  height:183px;
}
#u69 {
  position:absolute;
  left:2px;
  top:84px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:2px;
}
#u70 {
  position:absolute;
  left:110px;
  top:453px;
  width:681px;
  height:1px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-8px;
  width:677px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u72 {
  position:absolute;
  left:553px;
  top:462px;
  width:115px;
  height:25px;
}
#u73 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u74 {
  position:absolute;
  left:676px;
  top:462px;
  width:115px;
  height:25px;
}
#u75 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u76 {
  position:absolute;
  left:121px;
  top:156px;
  width:103px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u78 {
  position:absolute;
  left:121px;
  top:192px;
  width:103px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:234px;
  top:149px;
  width:190px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u81 {
  position:absolute;
  left:234px;
  top:184px;
  width:190px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  position:absolute;
  left:234px;
  top:219px;
  width:190px;
  height:22px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u82_input:disabled {
  color:grayText;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u83 {
  position:absolute;
  left:121px;
  top:225px;
  width:103px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u85 {
  position:absolute;
  left:123px;
  top:255px;
  width:101px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:234px;
  top:251px;
  width:190px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u88 {
  position:absolute;
  left:123px;
  top:289px;
  width:101px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:234px;
  top:286px;
  width:190px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u91 {
  position:absolute;
  left:113px;
  top:326px;
  width:678px;
  height:117px;
}
#u92 {
  position:absolute;
  left:2px;
  top:50px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u93 {
  position:absolute;
  left:121px;
  top:341px;
  width:101px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u95 {
  position:absolute;
  left:123px;
  top:377px;
  width:101px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:234px;
  top:337px;
  width:190px;
  height:25px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u98 {
  position:absolute;
  left:121px;
  top:412px;
  width:101px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:234px;
  top:407px;
  width:190px;
  height:25px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u101 {
  position:absolute;
  left:234px;
  top:372px;
  width:190px;
  height:25px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u101_input:disabled {
  color:grayText;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u102 {
  position:absolute;
  left:457px;
  top:139px;
  width:334px;
  height:183px;
}
#u103 {
  position:absolute;
  left:2px;
  top:84px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:162px;
}
#u104 {
  position:absolute;
  left:467px;
  top:149px;
  width:149px;
  height:162px;
}
#u105 {
  position:absolute;
  left:2px;
  top:73px;
  width:145px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:162px;
}
#u106 {
  position:absolute;
  left:626px;
  top:149px;
  width:153px;
  height:162px;
}
#u107 {
  position:absolute;
  left:2px;
  top:73px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u108 {
  position:absolute;
  left:457px;
  top:341px;
  width:120px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:589px;
  top:337px;
  width:190px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u111 {
  position:absolute;
  left:457px;
  top:377px;
  width:120px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u113 {
  position:absolute;
  left:457px;
  top:412px;
  width:120px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:589px;
  top:372px;
  width:190px;
  height:25px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116 {
  position:absolute;
  left:589px;
  top:407px;
  width:190px;
  height:25px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
